---
layout: default
title: Herman J. Radtke III
---

<h1>{{ site.author.name }}</h1>
<hr/>
<p>
I am a sociologist turned full stack engineer working at HauteLook in downtown LA. I built and designed most of the API that drives the HauteLook|Nordstromrack.com website and mobile applications.  I am most passionate about creating and consuming hypermedia APIs.
</p>
<p>
Learn more <a href="http://about.me/hermanradtke">about me</a>.
</p>

<!-- eventually make this featured articles -->
<h2>Articles</h2>

<h3>Recent</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>  - <small>{{ post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>

<h3>Rust</h3>

<p>My <a href="/tags/rustlang.html">#rustlang</a> articles.</p>

<h3>Archive</h3>

<p>Complete listing of all <a href="/archive.html">articles</a>.</p>

<h2>Projects</h2>
{% for project in site.projects %}
  <h3><a href="{{ project.link }}">{{ project.name }}</a></h3>
  <p>{{ project.description }}</p>
{% endfor %}
