<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   {% include head.html %}
</head>
<body>
    <section>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a target="_blank" href="/atom.xml">Atom Feed</a></li>
                    <li><a target="_blank" href="https://github.com/hjr3">Github</a></li>
                    <li><a target="_blank" href="https://twitter.com/hermanradtke">Twitter</a></li>
                    <li><a target="_blank" href="https://about.me/hermanradtke">about.me</a></li>
                </ul>
            </nav>
        </header>
        <div class="clear"></div>
        <hr />

        {{ content }}

        {% include footer.html %}
    </section>
</body>
</html>
